html,
body {
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

.outline {
    border-color: white;
    border-style: solid;
    border-width: 10px;
    width: 100%;
    height: 100%;
}

.rect1 {
    border-color: brown;
    border-style: solid;
    border-width: 0px;
    width: 55%;
    height: 55%;
    background-color: brown;
    display: grid;
    grid-template: 1fr / 1fr;
}

.rect1 > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

.rect2 {
    border-color: green;
    border-style: solid;
    border-width: 4px;
    background-color: green;
    width: 60%;
    height: 40%;
    z-index: 1;
}

.rect3 {
    z-index: 3;
    border-color: red;
    border-style: solid;
    border-width: 0px;
    background-color: red;
    width: 60%;
    height: 20%;
    margin-right: 0;
    margin-left: auto;
    z-index: 2;

}

